@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');


body{
    background-color: rgb(255, 246, 227);
}

h1{
    color:rgb(0, 0, 0)
}

p{
    font-family: 'Special+Elite';
    color:rgb(0, 0, 0)
}